# Web backend
fastapi==0.111.0
uvicorn==0.29.0

# Frontend UI
streamlit==1.35.0
requests==2.31.0
pyperclip==1.8.2

# LangChain & LLMs
langchain==0.2.1
langchain-community==0.2.1
langchainhub==0.1.15
python-dotenv

# Optional (for type checking & dev convenience)
pydantic==2.7.1
